spring:
  application:
    name: Employee Awards Service
  
  # H2 Database (in-memory)
  datasource:
    url: jdbc:h2:mem:employee_awards
    username: sa
    password:
  
  # JPA/Hibernate
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    open-in-view: false
  
  # H2 Console (для просмотра данных в БД: http://localhost:8080/h2-console)
  h2:
    console:
      enabled: true
      path: /h2-console
  
  # Загрузка файлов (Excel/CSV)
  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 10MB
      file-size-threshold: 2KB

# Server
server:
  port: 8080
  error:
    include-message: always
    include-binding-errors: always
# Logging
logging:
  level:
    root: INFO
    ru.t2.employeeawards: DEBUG
    org.springframework.web: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
